ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=Sistemas2025"
Jwt__Key=

Jwt__Issuer=
Jwt__Audience=
Jwt__ExpirationMinutes=
Jwt__CookieName=

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT_URL=
R2_PUBLIC_CUSTOM_DOMAIN=

RESEND_APITOKEN=
AUTOMAPPER_KEY=

DNI_API_BASE_URL=
DNI_API_KEY=