
@import "tailwindcss";

:root {
  --background: #F2EADF;
  --foreground: #171717;
  --primary: #731D34;
  --secondary: #A66F79;
  --terciary: #F2B441;
  --quaternary: #F2D194;
  
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
  --color-quaternary: var(--quaternary);
  --color-background: var(--background);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

